body
{
    margin: 0;
}

nav, header
{
    background-color: #005EFF;
    color: #eeeeee;
}

nav ul
{
    list-style: none;
    display:inline;
}

nav ul li a
{
    text-decoration: none;
    color:#eeeeee;
}
nav ul li a:hover
{
    text-decoration: underline;
}

#inscriptionform
{
    width:80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#inscriptionform input
{
    margin-top: 5px;
}

.timeline,.users
{
    width: 100%;
}

.message
{
    background-color: #E8F5FD;
}

.cweet, .user
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 5px;

}

.cweet-info
{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.cweet-avatar, .user-avatar
{
    width:48px;
    height: 48px;
}

.cweet-namesHandler
{
    display: flex;
    flex-direction: row;
}

.cweet-name
{
    font-weight: bold;
}

.cweet-pseudo
{
    margin-left: 2px;
    font-weight: lighter;
}
