<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cui-Cui - Modifier informations</title>
    <link rel="stylesheet" href="/design.css" />
</head>
<body>
<header>
    <div class="logo">Cui-Cui</div>
    <nav>
        <ul>
            <li>
                <a href="login">Se connecter</a>
            </li>
            <li>
                <a href="sub">S'inscrire</a>
            </li>

        </ul>
    </nav>
</header>
<main>
    <section id="presentation">
        <p>Alors comme ça on veut modifier ses infos sur Cui-Cui ? Super, c'est cool ! Mais pour ça, il va falloir remplir un petit formulaire ;)</p>
    </section>
    <section>
        <form id="inscriptionform" name="inscription" method="POST" action="/edit-profile">
            <label for="ipt_name">Nom d'utilisateur</label>
            <input type="text" id="ipt_name" name="nom" value="{{user.nom}}"/>
            <label for="ipt_pseudo">Pseudo (Commencera par @votrepseudo</label>
            <input type="text" id="ipt_pseudo" name="pseudo" value="{{user.pseudo}}"/>
            <label for="ipt_password">Mot de passe</label>
            <input type="password" id="ipt_password" name="password" required/>
            <label for="ipt_profile">Photo de profil</label>
            <input type="text"  id="ipt_profile" name="photoUrl" value="{{#user.photoUrl}}{{user.photoUrl}}{{/user.photoUrl}}">
            <label for="ipt_mail">Email</label>
            <input type="email" id="ipt_mail" value="">
            <input type="submit" value="Modifier"/>
        </form>
    </section>

</main>
{{ > footer }}
</body>
</html>