<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cui-cui - Connexion</title>
</head>
<body>
    <header>
    <div class="logo">Cui-Cui</div>
    <nav>
        <ul>
            <li>
                <a href="login">Se connecter</a>
            </li>
            <li>
                <a href="subscribe">S'inscrire</a>
            </li>

        </ul>
    </nav>
    </header>
    <main>
        <section id="presentation">
            <p>Entrez vos informations pour vous connecter</p>
        </section>
        <section>
            {{#error-credentials}}
            <p class="message-handler error">Les identifiants que vous avez entrés sont incorrects !</p>
            {{/error-credentials}}
            <form id="inscriptionform" name="inscription" method="post" action="/login">
                <label for="ipt_pseudo">Pseudo</label>
                <input type="text" id="ipt_pseudo" name="pseudo" required/>
                <label for="ipt_password">Mot de passe</label>
                <input type="password" id="ipt_password" name="password" required/>
                <input type="submit" value="Se connecter"/>
            </form>
        </section>
    </main>
</body>
</html>