<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cui-Cui</title>
    <link rel="stylesheet" href="/design.css" />
</head>
<body>

    <header>
        <div class="logo">Cui-Cui</div>
        <nav>
            <ul>
                <li>
                    Bienvenue, {{username}}!
                </li>
                <li>
                    <form method="get" action="/search">
                        <input type="text" name="q" placeholder="Rechercher…" />
                        <button type="submit">🔍</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="timeline">
        <div class="message">
            <form method="post" action="/send-message">
                <textarea name="message" placeholder="Tapez ici votre message"></textarea>
                <button type="submit">Cuiter</button>
            </form>
        </div>
    </div>

</body>
</html>