<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cui-Cui</title>
    <link rel="stylesheet" href="/design.css" />
</head>
<body>

    <header>
        <div class="logo">Cui-Cui</div>
        <nav>
            <ul>
                <li>
                    Bienvenue, {{user.pseudo}}!
                </li>
                <li>
                    <form method="get" action="/search">
                        <input type="text" name="q" placeholder="Rechercher…" />
                        <button type="submit"><img src="/search-icon.png" /></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="timeline">
        <div class="message">
            <form method="post" action="/send-message">
                <textarea name="message" placeholder="Tapez ici votre message"></textarea>
                <button type="submit">Cuiter</button>
            </form>
        </div>
        {{#messages}}
        <div class="cweet">
            <div class="cweet-image-handler">
                {{#author.photoUrl}}
                <img class="cweet-avatar" src="{{author.photoUrl}}" alt="cweet-avatar">
                {{/author.photoUrl}}
            </div>
            <div class="cweet-info">

                <div class="cweet-namesHandler">
                    <span class="cweet-name">{{author.nom}}</span> <span class="cweet-pseudo">@{{author.pseudo}}</span>
                </div>
                <span class="cweet-text">{{text}}</span>

            </div>
        </div>
        {{/messages}}
    </div>

</body>
</html>